.card-data {
    border: solid 1px;
    padding: 20px 50px;
    color: #fff;
}

.card-data.buku {
    background-color: rgb(22, 167, 167);
}

.card-data.kategori {
    background-color: rgb(161, 32, 32);
}

.card-data.user {
    background-color: rgb(22, 206, 99);
}
.card-data i {
    font-size: 55px;
}

.card-desc {
    font-size: 20px;
    color: white;
}
